# Python Bytecode Files
__pycache__/
*.pyc 

# Question Files
Report_guidelines.pdf
Assignment#*

# Report Files
*.docx
*.doc

# Other Files
*.json
*.txt
*.png
*.jpg
*.jpeg
*.pcap
*.pcapng
.vscode/
Assn7/goftpd/
